body {
    /*padding-top: 50px;*/
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.textareathoughts{
    max-width:100%;
    height:300px! important;
}
.is-success{
    margin-left:10%;
    margin-bottom:30px;
    color:green;
}

.is-error{
     margin-left:10%;
    margin-bottom:30px;
    color:red;
}
.body-wrapper{
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
}

.vr {
    display: block;
    width:1px;
    background-color:#000;
    position:absolute;
    top:0;
    bottom:0;

}

.contact-background{
    background-color:#ffe6cc;
}

/*.contact-button{
    width: 200px;
    float:left;
    margin-left:25%;
}*/

.contact-success{
    width:100%;
    float:left;
    margin-left:15px;
}

.testimonials{
    font-size:30px;
    font-style:italic;
    font-family:Brush Script MT;
    color:#808080;
    display:none;
}
.testimonials>q:before{
    content: open-quote;
}

.testimonials>q::after { 
    content: close-quote;
}

.testimonials p.author {
    color: #009890;
    font-size: 20px;
    font-style: italic;
    font-family:Brush Script MT;
    text-align: center;
    margin: 10px;
}
/*.contact-form{
    padding-left: 40px;
    padding-right: 40px;
}*/
