@{
    ViewBag.Title = "About";
}
<div class="body-wrapper">
    <div class="body-content">
        <div style="text-align:center">
            <h2>@ViewBag.Message</h2>
        </div>

        <div class="body-wrapper about">
            <p>
                “leverans” is a Swedish word which means ‘the act of delivering goods’.
                Here at leverans, we ensure our customers don’t have to spend their precious time in
                doing their errands like grocery shopping, paying bills, collecting documents etc.
            </p>
            <p>
                We make sure to provide you the best and reliable service at your preferred time because your life and
                family deserves more of you. So kick back enjoy life, while we do the chores for you.Leveran is your personal errand boy.
            </p>
            <div class="body-wrapper">
                <p>
                    <h3 class="center-text">Service terms and conditions</h3>
                    <h4>Timings</h4>
                    <ul>
                        <li>Customers can place their order with us anytime 24*7 through call, watsapp, message or online booking</li>
                        <li>Our working hours are from 11 am to midnight, all days.</li>
                        <li>You can choose your preferred delivery time and date.</li>
                        <li>Rescheduling a delivery or a service will involve extra service charges. We will confirm you the same during re-confirmation of order.</li>
                        <li>We will communicate the delivery time at the time of confirming the order. We usually try to deliver your request within 75 min of placing your order. If it takes any longer, we will inform you the same.</li>
                        <li>You can reach us anytime through our customer care email id or call.</li>
                    </ul>
                    @*<h4>Areas Covered</h4>
                    <ul>
                        <li>We are operational in Powai, Mulund, Bhandup and nearby areas.</li>
                    </ul>*@
                    <h4>Pricing</h4>
                    <ul>
                        <li>We do not charge anything extra on any product delivered and the price is always at or below MRP.</li>
                        <li>Our service charges depend upon the distance travelled by our errand runner and the order amount.</li>
                        <li>Extra service charge may apply at midnight deliveries.</li>
                        <li>Before confirming your order, we will let you know the exact service amount added to your bill.</li>
                    </ul>
                    <h4>Cancellation Policy</h4>
                    <ul>
                        <li>Cancellation policy may vary on various services.</li>
                        <li>Get in touch with our executives to know cancellation policy on your ordered service.</li>
                        <li>Food orders once confirmed, are not refundable.</li>
                    </ul>
                    <h4>Waiting Charges</h4>
                    <ul>
                        <li>
                            For pick and drop services, our errand runner can wait for 10 min. Any extra waiting time will be charged.
                            @*We will convey this information to you at the time of confirming the order.*@
                        </li>
                    </ul>
                    <h4>General</h4>
                    <ul>
                        <li>We take full care or all the products handled by our team.</li>
                        <li>It is mandatory to declare any sensitive or fragile product before the pickup.</li>
                        <li>Leverans hold no responsibility to previously damaged product or damage due to unavoidable circumstances.</li>
                        <li>Leverans holds the right to refuse service to anyone.</li>
                        <li>For any queries, you can reach out to us anytime through e-mail, calls or messages.</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
