@{
    ViewBag.Title = "Services";
}

<div class="jumbotron">
        <img class="SlideShow" src="~/Resources/Images/banner2.jpg" style="display:block">
</div>

<div class="row" style="overflow:auto ">
    <div class="col-md-9 col-md-9-border">
        <h2>Home Delivery</h2>
        <p style="color:#5c0099">
              from grocery shopping to cake delivery, we get things done,mmkljsdkljlkddfbvbldbfnkdnk<br/>
            dhdfkjdkjljkkdddddddddddddddddddddddddddddddddddddd. hgbsdfhsfhjsdfksdjlk
        </p>

    </div>
    <div class="col-md-9 col-md-9-border">
        <h2>Errands</h2>
        <pre style="color:#5c0099">
            from grocery shopping to cake delivery, we get things done,mmkljsdkljlkddfbvbldbfnkdnk<br />
            dhdfkjdkjljkkdddddddddddddddddddddddddddddddddddddd. hgbsdfhsfhjsdfksdjlk..>>>.
skjdhldsjksdkmnncmlkcm
jskdjlkmcldjcmkjdkcmmdclsjdlkjsldkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkjffjdjfdjijijfidjifjd,..
kdikdkdk
        </pre>
    </div>
</div>
